@import '../../assets/scss/module/variables.scss';

.bannerSection {
  background-image: url('../../assets/images/backImag.png');
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 158px 0px;
  position: relative;

  @media (max-width: 767px) {
    height: auto;
  }
}

.top-header {
  border-bottom: solid 1px $col8;
}

.searchBox {
  margin-top: 24px;
  background: $col6;
  border-radius: 8px;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
}

.searchBoxx {
  background: $col18;
  border: 1px solid $col15;
  border-radius: 8px;
  padding: 8px;
  width: 360px;
  max-width: 100%;

  .form-control {
    box-shadow: none !important;
    border: 0;
    color: $col1;

    &::placeholder {
      opacity: 0.6;
    }
  }

  button {
    background: transparent;
  }
}

.dropdownBlock {
  .dropdown {
    button {
      height: 80px;
      border-radius: 0px;
      background-color: $col12;
      border: solid 1px #ccc;
      color: $col1;
      font-size: 24px;
      padding: 0 20px;

      &:hover,
      &:focus {
        height: 80px;
        border-radius: 0px;
        background-color: $col12;
        border: solid 1px #ccc;
        color: $col1;
        font-size: 24px;
        padding: 0 20px;
      }
    }
  }
}

.searchBox {
  .inputBox {
    @media (max-width: 767px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  input {
    &.form-control {
      padding: 0px 0 0 32px;
      height: 24px;
      font-size: 24px;
      border: none;
      color: $col1;
      outline: 0;
      box-shadow: none !important;

      &::placeholder {
        opacity: 0.7;
      }
    }
  }

  .search-results {
    border: 1px solid #ddd;
    position: absolute;
    background-color: $col6;
    width: 100%;
    z-index: 1000;
  }
}

.searchBttn2 {
  padding-right: 7px;

  .greenBtn2 {
    display: inline-block !important;
    color: $col6;
    text-align: center;
    font-size: 24px;
    padding: 0px 40px;
    text-decoration: none;
    font-weight: 700;
    background: $col4;
    border: 1px solid $col4;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 8px;

    &:hover {
      display: inline-block !important;
      color: $col6;
      text-align: center;
      font-size: 24px;
      padding: 0px 40px;
      text-decoration: none;
    }
  }
}

.brdrRads12 {
  border-radius: 12px;
}

.card-one {
  .gridBlock {
    .card-one-img {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;

      @media (min-width: 1200px) {
        min-height: 275px;
        max-height: 275px;
      }

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }
  }
}

.newsletter-card {
  .mapSection {
    background-color: rgba(13, 118, 214, 0.1);
    border-radius: 8px;
    background-image: url('../../assets/images/mapDots.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-color: contain;
  }

  .mapRightBlock {
    padding: 55px 80px 56px 0;

    @media (max-width: 991px) {
      padding: 55px 80px 56px 80px;
    }

    @media (max-width: 767px) {
      padding: 55px 15px 56px 15px;
    }
  }

  .mapRightBlock {
    input {
      height: 48px;
      padding: 12px 16px;
      padding-right: 145px;

      &::placeholder {
        opacity: 0.7;
      }
    }
  }

  .getAlerted {
    display: block;
    background-color: $col4;
    border: 1px solid $col4;
    box-shadow: 0px 8px 16px rgb(52 94 168 / 20%);
    color: $col6;
    padding: 0px 26px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;
    border-radius: 8px;
    height: 48px;
    line-height: 48px;
  }
}

.card-listing {
  background-color: $col12;
  min-height: calc(100vh - 80px);
}

.home-slide {
  .sliderItem {
    margin: 10px;
  }
}

.sliderItem {
  border-radius: 4px;
  position: relative;
  background-color: $col6;
  box-shadow: 0px 4px 24px rgb(209 209 209 / 24%);
  -moz-box-shadow: 0px 4px 24px rgba(209, 209, 209, 0.24);
  -webkit-box-shadow: 0px 4px 24px rgb(209 209 209 / 24%);
  border-radius: 8px;
  margin-bottom: 24px;

  .slider-box-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (min-width: 1200px) {
      min-height: 269px;
      max-height: 269px;

      & > img {
        min-height: 269px;
        max-height: 269px;
      }
    }

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  .transition {
    transition: all 0.3s ease;
  }

  .likeTag {
    position: absolute;
    background: $col6;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    right: 8px;
    border-radius: 3.5px;
    font-size: 10px;
    cursor: pointer;
    color: $col1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sliderTagName {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    background: $col6;
    font-size: 14px;
    border-radius: 999px;
  }

  .sliderTextArea {
    padding: 16px 16px 26px;
  }

  .statusblock {
    border: 1px solid $col8;
    border-radius: 999px;
    padding: 8px 12px;
    margin-bottom: 12px;
  }

  .dot {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 10px;

    &.orange {
      background: $col9;
    }
  }

  .sliderListing {
    margin-top: 16px;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        font-size: 16px;
        color: $col5;
        margin-right: 8px;

        b {
          margin-right: 5px;
        }
      }
    }
  }

  .linkproperty {
    margin-top: 18px;
  }

  .bg-transparent {
    background: transparent !important;
    box-shadow: none !important;
    border: none;
    outline: 0;
  }
}

.search-user {
  position: relative;
  margin-top: 24px;
  background: $col6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  min-height: 75px;

  .search-icons {
    left: 3px;
    opacity: 0.3;
    font-size: 18px;
    margin-left: 20px;
    margin-top: -1px;
    position: absolute;
    z-index: 9;
  }

  .rbt-menu {
    &.dropdown-menu {
      margin-top: 28px;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $col9;
        outline: 0px;
      }

      .dropdown-item {
        color: $col1;
        padding: 10px 24px;
        font-size: 15px;
        text-transform: inherit;
        letter-spacing: -1px;

        mark {
          padding: 0.1rem;
        }

        &:hover,
        &:focus {
          background: $col12 !important;
        }
      }
    }
  }

  & > div {
    width: 100%;
  }

  input {
    &.form-control {
      padding: 0px 0 0 32px;
      height: 24px;
      font-size: 18px;
      border: none;
      color: $col1;
      outline: 0;
      box-shadow: none !important;
      padding-right: 180px;
      padding-left: 52px;
    }
  }

  .greenBtn2 {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    padding: 0px 40px;
    text-decoration: none;
    background: $col4;
    border: 1px solid $col4;
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 49%;
    transform: translateY(-50%);
    color: $col6;
    height: 62px;
    line-height: 62px;
    text-align: center;
    border-radius: 8px;
  }
}

.slider-banner {
  .carousel-item {
    border-radius: 12px;
    overflow: hidden;
  }

  .slider-inner {
    .slider-box {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;

      @media (min-width: 1200px) {
        min-height: 500px;
        max-height: 500px;
      }

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }
  }

  .imageAboveTags {
    position: absolute;
    bottom: 16px;
    z-index: 99;
    left: 12px;
    margin-right: 8px;

    @media (max-width: 450px) {
      bottom: 18px;
    }

    .whiteBox {
      background-color: $col6;
      padding: 10px 12px;
      border-radius: 999px;

      @media (max-width: 450px) {
        padding: 10px 10px;
        font-size: 12px;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1;
  }

  .carousel-control-prev {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 22px;
    right: 20px;
    height: auto;

    @media (max-width: 1199px) {
      right: 45px;
      bottom: 18px;
    }
  }

  .carousel-control-next {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 22px;
    right: -30px;
    height: auto;

    @media (max-width: 1199px) {
      right: -5px;
      bottom: 18px;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    position: relative;
    display: inline-block;
    background-color: $col6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

  .carousel-control-prev-icon {
    &::before {
      content: '';
      border-left: solid 1px $col1;
      border-bottom: solid 1px $col1;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      top: 52%;
      left: 54%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .carousel-control-next-icon {
    &::before {
      content: '';
      border-top: solid 1px $col1;
      border-right: solid 1px $col1;
      width: 10px;
      height: 10px;
      display: block;
      position: absolute;
      top: 52%;
      left: 46%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.form-check {
  margin-bottom: 10px;

  input[type='checkbox'] {
    width: 25px;
    height: 25px;
  }

  label {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.detailRightSec {
  .checkAvailability {
    border: 1px solid $col8;
    box-shadow: 0px 4px 24px rgb(209 209 209 / 24%);
    border-radius: 8px;
    padding: 24px 24px 32px;

    .rentalForm {
      i {
        position: absolute;
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.7;
      }

      .form-check {
        input[type='checkbox'] {
          width: 20px;
          height: 20px;
          box-shadow: none !important;
          border: solid 1px $col15;

          &:focus {
            border-color: $col8;
          }
        }

        label {
          margin-left: 7px;
        }
      }

      .form-control {
        padding: 14px 12px 14px 40px;
        height: 48px;
        color: $col1;
        box-shadow: none !important;
        background: transparent;
        border: 1px solid $col15;
        border-radius: 8px;
        box-shadow: none;

        &::placeholder {
          opacity: 0.6;
        }
      }

      textarea {
        &.form-control {
          padding-left: 18px;
          height: auto;
        }
      }
    }

    button {
      &.longBtn {
        background: $col16;
        border: solid 1px $col16;
        color: $col6;
        text-decoration: none;
        font-size: 18px;
        height: 48px;
      }
    }
  }
}

.text-none {
  text-decoration: none;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-right: 10px;

  &.purple {
    background: $col11;
  }
}

.list-style-none {
  list-style-type: none;
}

.property-ul {
  li {
    display: flex;
    align-items: center;
    margin-right: 33px;

    & > img {
      margin-right: 9px;
    }

    span {
      margin: 0 5px;
    }
  }
}

.dealTag {
  display: inline-block;
  background: rgba(93, 177, 150, 0.1);
  color: $col16;
  padding: 8px 12px;

  @media (max-width: 1199px) {
    white-space: nowrap;
    font-size: 16px !important;
  }

  & > img {
    margin-right: 8px;
  }
}

.forecast-table {
  .table {
    tbody {
      tr {
        td {
          font-size: 16px;
          font-weight: 400;
          color: $col1;
          padding-left: 0;
        }
      }
    }
  }
}

.breadcrumb {
  .breadcrumb-item {
    a {
      color: $col1;
      font-size: 16px;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.boxbtn {
  border-radius: 7px;
  box-shadow: 0px 8px 16px rgb(52 94 168 / 20%);
  padding: 24px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, $col6 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .longBtn {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 9999px;
    height: 48px;
    color: $col6;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background: $col4;
    border: solid 1px $col4;
  }
}

.questions {
  background: $col17;
  border-radius: 8px;
  padding: 24px;

  .greenBtnLongBtn {
    background: $col16;
    border: solid 1px $col16;
    color: $col6;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 999px;
    display: inline-block;
  }
}

.descriptn {
  table,
  table th,
  table td {
    border: none;
    padding: 0;
  }
}

.popular-section {
  padding: 40px 0;

  .listing-block {
    ul {
      li {
        list-style: none;
        margin-bottom: 32px;
      }
    }
  }
}

.bannerSectionText {
  h1 {
    @media (max-width: 767px) {
      &.fs-48 {
        font-size: 32px !important;
      }
    }
  }

  p {
    @media (max-width: 767px) {
      &.fs-32 {
        font-size: 20px !important;
      }
    }
  }
}

.searchBox {
  @media (max-width: 575px) {
    &.search-user {
      min-height: auto;
      background: transparent;
    }

    .greenBtn2 {
      position: static;
      margin-top: 50px;
    }

    input.form-control {
      height: 50px;
    }

    .search-icons {
      margin-top: 18px;
    }

    .rbt-menu.dropdown-menu {
      margin-top: 5px;
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    padding: 26px 0;

    .search-icons {
      margin-top: 4px;
    }
  }
}

.mapRightBlock {
  @media (max-width: 420px) {
    .inputField {
      flex-direction: column;
    }

    .getAlerted {
      position: static;
      margin-top: 40px;
    }
  }
}

.body,
html {
  @media (max-width: 480px) {
    overflow-x: hidden;
  }
}
